<div class="vertical-center">
  <h4>Resend confirmation instructions</h4>

  <div class="card-panel">
    <%= form_for(
          resource,
          as: resource_name,
          url: confirmation_path(resource_name),
          html: { method: :post }
        ) do |f| %>
      <%= devise_error_messages! %>

      <div class="input-field">
        <%= f.email_field :email,
          autofocus: true,
          value: (
            resource.pending_reconfirmation? ?
              resource.unconfirmed_email
              : resource.email) %>
        <%= f.label :email %><br />
      </div>

      <div class="text-right">
        <%= f.submit "Resend confirmation instructions", class: 'btn' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>

</div>