<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% unless meetings.present? %>
        <tr>
          <td colspan="4">
            <%= no_meeting_text %>
          </td>
        </tr>
      <% end %>
      <% meetings.each do |meeting| %>
        <tr>
          <td><%= link_to meeting.title, meeting_path(meeting) %></td>
          <td><%= formatted_date_time meeting.start_date %></td>
          <td><%= formatted_date_time meeting.end_date %></td>
          <td class="flex justify-end">
            <%= link_to "Delete", meeting_path(meeting),
              class: "button link danger",
              method: :delete,
              data: { confirm: "Are you sure you want to delete this meeting?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if show_pagination %>
  <div class="mt-4">
    <%= paginate @meetings %>
  </div>
<% end %>
