<html>
    <head>
        <style>
            h3 {
                font-size: 2.92rem;
                margin: 1.46rem 0 1.168rem 0;
            }

            h4 {
                font-size: 1.64rem;
                margin: 1.14rem 0 .912rem 0;
            }
            h5 {
                font-size: 1.32rem;
                margin: .82rem 0 .656rem 0;
            }
        </style>
    </head>
    <body>
        <h3 style="margin-top: 0;"><%= meeting.title %></h3>
        <strong>Start:</strong> <%= meeting.start_date %><br />
        <strong>End:</strong> <%= meeting.end_date %>

        <h4>Attendees</h4>
        <hr />
        <ul>
            <% meeting.attendees.each do |attendee| %>
                <li><%= attendee.email %></li>
            <% end %>
        </ul>

        <h4>Action Items</h4>
        <hr />
        <% unless meeting.action_items.any? %>
            <p>No action items set.</p>
        <% else %>
            <ul class="browser-default">
                <% meeting.action_items.each do |item| %>
                    <li>
                        <h5><%= item.title %></h5>
                        <%= markdown_text item.description %>
                    </li>
                <% end %>
            </ul>
        <% end %>

        <h4>Agenda</h4>
        <hr />
        <% unless meeting.agenda.any? %>
            <p>No agenda set.</p>
        <% else %>
            <ul>
                <% meeting.agenda.each do |agendum| %>
                    <h5><%= agendum.title %></h5>
                    <%= markdown_text agendum.description %>

                    <ul>
                        <% agendum.notes.each do |note| %>
                            <li>
                                <%= markdown_text note.content %>
                            </li>
                        <% end %>
                    </ul>
                <% end %>
            </ul>
        <% end %>
    </body>
</html>
