<html>
  <head>
    <style>
      <%# Base styling %>
      <%# Note that adding CSS to the <body> tag causes some styles
          to fail in gmail. So using the table as the body is
          recommended here. %>
      table.body {
        background-color: #fafafa;
        padding: 20px;
        margin: 0;
        width: 100%;
      }

      td.wrapper {
        width: 80%;
      }

      .content {
        max-width: 700px;
        margin: auto;
        padding: 20px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        border-top: 2px solid #2196f3;
      }

      .main-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        margin-top: 25px;
      }

      .sub-header {
        margin-bottom: 0;
      }

      <% # Light markdwon styling %>
      .markdown-body p,
      .markdown-body blockquote,
      .markdown-body ul,
      .markdown-body ol,
      .markdown-body dl,
      .markdown-body table,
      .markdown-body pre {
        margin-top: 0 !important;
        margin-bottom: 16px !important;
      }

      .markdown-body table {
        display: block;
        width: 100%;
        overflow: auto;
        border-spacing: 0;
        border-collapse: collapse;
      }

      .markdown-body table th {
        font-weight: 600;
        padding: 0;
      }

      .markdown-body table th,
      .markdown-body table td {
        padding: 6px 13px;
        border: 1px solid #dfe2e5;
        text-align: left;
      }

      .markdown-body table tr {
        background-color: #fff;
        border-top: 1px solid #c6cbd1;
      }

      .markdown-body table tr:nth-child(2n) {
        background-color: #f6f8fa;
      }

      .markdown-body code {
        padding: 0;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        margin: 0;
        font-size: 85%;
        background-color: rgba(27,31,35,0.05);
        border-radius: 3px;
      }

      .markdown-body code::before,
      .markdown-body code::after {
        letter-spacing: -0.2em;
        content: "\00a0";
      }

      .markdown-body blockquote {
        padding: 0 1em;
        color: #6a737d;
        border-left: 0.25em solid #dfe2e5;
      }

      .markdown-body blockquote>:first-child {
        margin-top: 0;
      }

      .markdown-body blockquote>:last-child {
        margin-bottom: 0;
      }

      .markdown-body h1 {
        font-size: 1.5em;
      }

      .markdown-body h2 {
        font-size: 1.17em;
      }

      .markdown-body h3 {
        font-size: 1.07em;
      }

      .markdown-body h4 {
        font-size: 1.00em;
      }

      .markdown-body h5 {
        font-size: 0.83em;
      }
    </style>
  </head>
  <body>
    <table class="body" width="100%">
      <tr>
        <td>&nbsp;</td>
        <td class="wrapper">
          <div class="content">
            <h1 style="margin-top: 0;"><%= meeting.title %></h1>
            <strong>Start:</strong>
            <%= formatted_date_time meeting.start_date, user: meeting.user, with_time_zone: true %><br />
            <strong>End:</strong>
            <%= formatted_date_time meeting.end_date, user: meeting.user, with_time_zone: true %>

            <h2 class="main-header">Attendees</h2>
            <ul>
              <% meeting.attendees.each do |attendee| %>
                <li><%= attendee.email %></li>
              <% end %>
            </ul>

            <h2 class="main-header">Action Items</h2>
            <% unless meeting.action_items.any? %>
              <p>There are no action items for this meeting.</p>
            <% else %>
              <ul>
                <% meeting.action_items.each do |item| %>
                  <li>
                    <h3><%= item.title %></h3>
                    <div class="markdown-body">
                      <%= markdown_text item.description %>
                    </div>
                  </li>
                <% end %>
              </ul>
            <% end %>

            <h2 class="main-header">Agenda</h2>
            <% unless meeting.agenda.any? %>
              <p>There is no agenda for this meeting.</p>
            <% else %>
              <ul>
                <% meeting.agenda.each do |agendum| %>
                  <li>
                      <h3><%= agendum.title %></h3>
                      <div class="markdown-body">
                        <%= markdown_text agendum.description, inline_images: inline_images %>
                      </div>
                      <ul>
                        <% agendum.notes.each do |note| %>
                          <li class="markdown-body">
                            <%= markdown_text note.content %>
                          </li>
                        <% end %>
                      </ul>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
