<div class="row mb-0">
  <div class="column sm12">
    <h3>Meetings</h3>
  </div>
</div>

<div class="row">
  <div class="column sm12 md9">
    <% unless @meetings.present? %>
      <div class="vertical-center text-muted">
        <i class="large material-icons">inbox</i>
        <h5>There's Nothing Here</h5>
        <p>
          Why don't you go ahead and add a meeting by clicking the button
          to the bottom-right?
        </p>
      </div>
    <% else %>
      <% if display_recent_and_upcoming_meetings_section? params[:page] %>
        <%= render 'upcoming_meetings', meetings: upcoming_meetings(@meetings) %>
        <%= render 'recent_meetings', meetings: recent_meetings(@meetings) %>
      <% end %>

      <div class="padding-vertical-default">
        <%= render 'meetings', meetings: meetings_list(@meetings, params[:page]),
          show_pagination: true, no_meeting_text: "There's nothing here." %>
      </div>
    <% end %>
  </div>
  <div class="column sm12 md3">
    <%= render 'calendar_events' %>
  </div>
</div>

<%= render 'meetings/new_modal', meeting: @meeting %>

<a class="btn-floating btn-large waves-effect waves-light red fab-fixed modal-trigger" href="#new-meeting-modal">
  <i class="material-icons">add</i>
</a>