<a class="btn-floating btn-large waves-effect waves-light red fab-fixed modal-trigger" href="#new-meeting-modal">
  <i class="material-icons">add</i>
</a>

<h4>Meetings</h4>

<div class="row">
  <div class="col m9">
    <% unless @meetings.present? %>
      <div class="vertical-center text-muted">
        <i class="large material-icons">inbox</i>
        <h5>There's Nothing Here</h5>
        <p>
          Why don't you go ahead and add a meeting by clicking the button
          to the bottom-right?
        </p>
      </div>
    <% else %>
      <%# Recent and upcoming meetings %>
      <% if display_recent_and_upcoming_meetings_section? params[:page] %>
        <div class="row">
          <div class="col m6">
            <%= render 'recent_meetings', meetings: @meetings %>
          </div>
          <div class="col m6">
            <%= render 'upcoming_meetings', meetings: @meetings %>
          </div>
        </div>
      <% end %>

      <%# All other meetings %>
      <%= render 'meetings',
        meetings: meetings_list(@meetings, params[:page]) %>
    <% end %>
  </div>
  <div class="col m3">
    <ul class="collection with-header">
      <li class="collection-header">
        <strong>Calendar Events</strong>
      </li>
      <div id="calendar-events">
        <div class="text-center" style="margin: 15px;">
          <%= render 'shared/loader' %>
        </div>
      </div>
    </ul>
  </div>
</div>

<%= render 'meetings/new_modal', meeting: @meeting %>

<script>
  $(document).ready(function() {
    $.get('/calendar_events')
      .success(function(data) {
        $('#calendar-events').html(data);
      });
  });
</script>