<div class="row">
  <div class="column sm12 pl-0">
    <h3>Meetings</h3>
  </div>
</div>

<button class="button primary" data-modal="#new-meeting-modal">
  New Meeting
</button>

<div class="row">
  <div class="column sm12 md8 px-0">
    <% unless @meetings.present? %>
      <div class="vertical-center text-muted">
        <i class="fa fa-inbox fa-3x"></i>
        <h5>There's Nothing Here</h5>
        <p>
          Why don't you go ahead and add a meeting by clicking the 'New Meeting'
          button?
        </p>
      </div>
    <% else %>
      <% if display_recent_and_upcoming_meetings_section? params[:page] %>
        <%= render 'upcoming_meetings', meetings: upcoming_meetings(@meetings) %>
        <%= render 'recent_meetings', meetings: recent_meetings(@meetings) %>
      <% end %>

      <div class="padding-vertical-default">
        <%= render 'meetings', meetings: meetings_list(@meetings, params[:page]),
          show_pagination: true, no_meeting_text: "There's nothing here." %>
      </div>
    <% end %>
  </div>
  <div class="column sm12 ml-auto md3">
    <%= render 'calendar_events' %>
  </div>
</div>

<%= render 'meetings/new_modal', meeting: @meeting %>
