<%= form_for(
  resource,
  as: resource_name,
  url: registration_path(resource_name),
  html: { method: :put }) do |f| %>

  <%# Change Email %>
  <div class="row">
    <div class="col m4 offset-m4">
      <div class="card">
        <div class="card-content">

          <span class="card-title">Change Email</span>

          <div class="input-field">
            <%= f.email_field :email,
              autofocus: true,
              required: true,
              data: { errors: resource.errors[:email].join(", ") } %>
            <%= f.label :email %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>
              Currently waiting confirmation for: <%= resource.unconfirmed_email %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
  <%# /Change Email %>

  <%# Change Password %>
  <div class="row">
    <div class="col m4 offset-m4">
      <div class="card">
        <div class="card-content">

          <span class="card-title">Change Password</span>
          <p>
            You can change your password here. Please leave this form
            blank if you don't want to change your password.
          </p>

          <div class="input-field">
            <%= f.password_field :password,
              autocomplete: "off",
              data: { errors: resource.errors[:password].join(", ") } %>
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="input-field">
            <%= f.password_field :password_confirmation, autocomplete: "off",
              data: {
                errors: resource.errors[:password_confirmation].join(", ")
              } %>
            <%= f.label :password_confirmation %><br />
          </div>

        </div>
      </div>
    </div>
  </div>
  <%# /Change Password %>

  <%# Submit %>
  <div class="row">
    <div class="col m4 offset-m4">
      <div class="card">
        <div class="card-content">

          <span class="card-title">Update Profile</span>
          <p>Please enter your current password to confirm your changes.</p>

          <div class="input-field">
            <%= f.password_field :current_password,
              autocomplete: "off",
              required: true,
              data: { errors: resource.errors[:current_password].join(", ") } %>
            <%= f.label :current_password %>
          </div>

          <%= f.submit "Update", class: 'btn btn-block', style: "width: 100%;" %>

        </div>
      </div>
    </div>
  </div>
  <%# /Submit %>
<% end %>

<% if resource.errors.any? %>
  <script>
    showErrorMessage("Please fix the errors in the form.");
  </script>
<% end %>