<div class="container">
  <h3>Google Accounts</h3>

  <%= link_to "Add Account", new_google_account_path, class: "button primary" %>

  <% unless @accounts.present? %>
    <div class="vertical-center text-grey-dark">
        <i class="fa fa-5x fa-inbox"></i>
        <h5>There's Nothing Here</h5>
        <p class="text-center">
          You have no Google accounts connected.<br />
          You can add one by clicking the button to the bottom-right.
        </p>
      </div>
    <div></div>
  <% else %>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th style="width: 70px;">Account</th>
            <th></th>
            <th>Connected At</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @accounts.each do |account| %>
            <tr class="collection-item">
              <td><img src="<%= account.avatar_url %>" height="64" /></td>
              <td><%= account.email %></td>
              <td><%= formatted_date_time account.created_at %></td>
              <td>
                <%= link_to "Synced Calendars", nil, data: {
                  modal: "#google-calendars-modal",
                  calendar_list: account.id
                }%>
              </td>
              <td class="text-right">
                <%= link_to "Delete", google_account_path(account),
                  data: { confirm: "Are you sure you want to remove this Google Account?" },
                  method: :delete %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>

<div id="google-calendars-modal" class="modal">
  <div class="modal-title">
    <h4>Synced Calendars</h4>
  </div>
  <div class="modal-content">
    <div class="loading text-center">
      <%= render 'shared/loader' %>
    </div>
    <div class="calendars"></div>
  </div>
  <div class="modal-footer">
    <button class="button" data-close-modal="#google-calendars-modal">Close</button>
  </div>
</div>
