<div class="vertical-center">
  <div class="card auth">
    <%= render 'devise/shared/auth_banner' %>

    <div class="card-head">
      <div class="card-title">Forgot your password?</div>
    </div>

    <%= devise_error_messages! %>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name),
        html: { method: :post }) do |f| %>

      <div class="input-field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
      </div>

      <div class="mt-4">
        <%= f.submit "Send me reset password instructions", class: "button block primary" %>
      </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>
