<div class="vertical-center">
  <h2 class="flex flex-row items-center mb-4">
    <%= image_tag 'icon-blue.png', width: '54px' %>
    <span class="ml-4">Adjourn</span>
  </h2>

  <div class="card-panel">
    <h4 class="text-center">Sign in</h4>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'mb-4' }) do |f| %>
      <div class="input-field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="input-field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: 'button block' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>