<div class="row">
  <% @calendars.each do |calendar| %>
    <div class="column sm12 md6 lg4">
      <label for="checkbox-<%= calendar[:google_id] %>">
        <input
          id="checkbox-<%= calendar[:google_id] %>"
          class="calendar-checkbox"
          data-calendar-url="<%= google_calendars_url %>"
          data-calendar-google-id="<%= calendar[:google_id] %>"
          data-google-account-id="<%= calendar[:account_id] %>"
          <%= calendar[:sync] ? "checked='checked'" : "" %>
        type="checkbox" />
        <%= calendar[:name] %>
      </label>
    </div>
  <% end %>
</div>