<h5 class="mt-8">Change Password</h5>
<p>
  You can change your password here. Please leave this form
  blank if you don't want to change your password.
</p>

<p>
  <%= f.label :password %>
  <%= f.password_field :password,
    autocomplete: "off",
    placeholder: 'Password',
    data: { errors: current_user.errors[:password].join(", ") } %>
  <% if @minimum_password_length %>
    <em><%= @minimum_password_length %> characters minimum</em>
  <% end %>
</p>

<p>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation,
    autocomplete: "off",
    placeholder: 'Password Confirmation',
    data: {
      errors: current_user.errors[:password_confirmation].join(", ")
    } %>
</p>
