<h5>Change Password</h5>
<p>
  You can change your password here. Please leave this form
  blank if you don't want to change your password.
</p>

<div class="input-field">
  <%= f.password_field :password,
    autocomplete: "off",
    data: { errors: current_user.errors[:password].join(", ") } %>
  <%= f.label :password %>
  <% if @minimum_password_length %>
    <em><%= @minimum_password_length %> characters minimum</em>
  <% end %>
</div>

<div class="input-field">
  <%= f.password_field :password_confirmation, autocomplete: "off",
    data: {
      errors: current_user.errors[:password_confirmation].join(", ")
    } %>
  <%= f.label :password_confirmation %><br />
</div>