<div class="row">
  <div class="column md8 mx-auto">
    <%= devise_error_messages! %>
  </div>
</div>

<div class="flex flex-col items-center">
  <%= form_for(current_user, url: registration_path(current_user), html: { method: :put }) do |f| %>
    <div class="row">
      <div class="column md8">
        <div class="media">
          <img src="<%= gravatar_url(current_user.email, 128) %>" class="avatar" />

          <div class="media-text">
            <h5><%= current_user.email %></h5>
            <small>
              Adjourn automatically pulls profile pictures from the
              Gravatar service.<br />
              Click <%= link_to "here", "https://en.gravatar.com/emails/" %>
              to change your profile picture.
            </small>
          </div>
        </div>
      </div>
      <div class="column md4">
        <%= button_tag 'Save',
                      type: 'button',
                      class: 'button primary block mt-2',
                      data: { modal: '#confirm-update-modal' } %>
      </div>
    </div>

    <div class="row">
      <div class="column md12">
        <div class="card">
          <div class="card-head">
            <div class="card-title">Basic Information</div>
          </div>
          <div class="row">
            <div class="column md6">
              <h5>Email</h5>
              <p>
                <%= f.email_field :email,
                  autofocus: true,
                  required: true,
                  data: { errors: current_user.errors[:email].join(", ") } %>
              </p>

              <% if devise_mapping.confirmable? && current_user.pending_reconfirmation? %>
                <div class="text-gray-600">
                  Currently waiting confirmation for: <%= current_user.unconfirmed_email %>
                </div>
              <% end %>
            </div>
            <div class="column md6">
              <h5>Timezone</h5>
              <%= f.time_zone_select(:time_zone) %>
            </div>
          </div>

          <div class="row">
            <div class="column md6">
              <h5>Change Password</h5>
              <%= f.label :password %>
              <%= f.password_field :password,
                autocomplete: "off",
                placeholder: 'Password',
                data: { errors: current_user.errors[:password].join(", ") } %>
              <% if @minimum_password_length %>
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>
            <div class="column md6" style="padding-top: 55px;">
              <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation,
                  autocomplete: "off",
                  placeholder: 'Password Confirmation',
                  data: {
                    errors: current_user.errors[:password_confirmation].join(", ")
                  } %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="confirm-update-modal" class="modal">
      <div class="modal-title">
        <h4>Confirm Update</h4>
      </div>
      <div class="modal-content">
        <p>
          Please enter your current password to update your profile.
        </p>

        <p class="input-field">
          <%= f.label :current_password %>
          <%= f.password_field :current_password,
                              autocomplete: "off",
                              required: true,
                              placeholder: 'Current password',
                              data: { errors: current_user.errors[:current_password].join(', ') }  %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-action" data-close-modal="#confirm-update-modal">Close</button>
        <%= f.submit "Confirm", class: "button primary" %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="column md12">
      <div class="card">
        <div class="card-head">
          <div class="card-title">Delete Account</div>
        </div>
        <p>
          Warning! Deleting your account will delete all your data and this
          action is irreversible!
        </p>

        <%= link_to "Delete Account", registration_path(current_user),
          class: "button block bg-red-600 text-white hover:bg-red-700",
          method: :delete,
          data: { confirm: "Are you sure you want to delete your account?" } %>
      </div>
    </div>
  </div>
</div>
