<div class="row lg:mt-10">
  <div class="column md8">
    <%= devise_error_messages! %>
  </div>
</div>

<div class="row">
  <div class="column md4 ml-auto">
    <%= form_for(current_user, url: registration_path(current_user), html: { method: :put }) do |f| %>
      <div class="card">
        <div class="card-content">
          <%= render 'profile/basic_info' %>

          <h5>Change Timezone</h5>
          <%= f.time_zone_select(:time_zone) %>

          <%= render 'profile/change_email', f: f %>

          <%= render 'profile/change_password', f: f %>

          <h5 class="mt-8">Confirm Changes</h5>
          <p>Please enter your current password to confirm your changes.</p>

          <div class="input-field">
            <%= f.label :current_password %>
            <%= f.password_field :current_password,
              autocomplete: "off",
              required: true,
              placeholder: 'Current password',
              data: { errors: current_user.errors[:current_password].join(", ") }  %>
          </div>

          <%= f.submit "Update", class: 'button primary block mt-2' %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="column md4 mr-auto">
    <div class="card">
      <div class="card-content">
        <%= render 'profile/delete_account' %>
      </div>
    </div>
  </div>
</div>

<% if current_user.errors.any? %>
  <script>
    showErrorMessage("Please fix the errors in the form.");
  </script>
<% end %>
