<div class="sidebar z-depth-2">
  <%= link_to root_url, class: "header" do %>
    <div class="icon">ICON</div>
    <div class="text">Adjourn</div>
  <% end %>

  <%= link_to profile_path, class: 'user-info' do %>
    <img src="<%= gravatar_url(current_user.email) %>"
      class="circle profile-picture" />
    <div class="email"><%= current_user.email %></div>
  <% end %>

  <%# Search bar formatting help from https://stackoverflow.com/a/42127640 %>
  <%= form_with(url: search_path, method: 'get', class: 'search') do |f| %>
    <i class="material-icons prefix" style="z-index: 9;">search</i>
    <%= f.search_field :q,
      class: 'autocomplete',
      autocomplete: 'off',
      placeholder: 'Search' %>
  <% end %>

  <ul class="links">
    <li>
      <%= active_link_to meetings_url, active: [['meetings'], []] do %>
        <i class="small material-icons icon">assignment</i>
        <span class="text">Meetings</span>
      <% end %>
    </li>
    <li>
      <%= active_link_to profile_path do %>
        <i class="small material-icons icon">account_box</i>
        <span class="text">My Profile</span>
      <% end %>
    </li>
    <li>
      <%= active_link_to google_accounts_path do %>
        <i class="small material-icons icon">sync</i>
        <span class="text">Google Accounts</span>
      <% end %>
    </li>
  </ul>

  <ul class="links bottom">
    <li>
      <a class="collapse-button">
        <i class="small material-icons collapse">chevron_left</i>
        <i class="small material-icons expand">chevron_right</i>
      </a>
    </li>
    <li>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "sign-out-link" %>
    </li>
  </ul>
</div>

<!--
<div class="navbar-fixed">
  <nav class="nav<%= content_for?(:extended_nav) ? '-extended' : '' %> print-hide">
    <div class="nav-wrapper row" style="margin-bottom: 0;">
      <div class="col m4">
        <%# Search bar formatting help from https://stackoverflow.com/a/42127640 %>
        <%= form_with(url: search_path, method: 'get') do |f| %>
          <div class="input-field">
            <i class="material-icons prefix" style="z-index: 9;">search</i>
            <%= f.search_field :q,
              class: 'autocomplete',
              autocomplete: 'off',
              placeholder: 'Search' %>
          </div>
        <% end %>
      </div>
      <div class="col m4">
        <%= link_to "Adjourn", root_url, class: 'brand-logo center' %>
      </div>
      <div class="col m4">
        <ul class="right">
          <% if user_signed_in? %>
            <li>
              <a href="<%= profile_path %>">
                <img src="<%= gravatar_url(current_user.email) %>"
                  class="circle profile-picture" />
                <span class="right"><%= current_user.email %></span>
              </a>
            </li>
            <li>
              <%= link_to "Sign Out", destroy_user_session_path,
                method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to "Sign In", new_user_session_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <% if content_for? :extended_nav %>
      <div class="nav-content">
        <%= yield :extended_nav %>
      </div>
    <% end %>
  </nav>
</div>-->