<div class="sidebar-overlay">&nbsp;</div>

<div class="sidebar">
  <%= link_to root_url, class: "header" do %>
    <%= image_tag 'icon.png', class: 'icon' %>
  <% end %>

  <%= link_to profile_path do %>
    <div class="media">
      <img src="<%= gravatar_url(current_user.email) %>" class="avatar" />
      <div class="media-text"><%= current_user.email %></div>
    </div>
  <% end %>

  <div class="search">
    <i class="fa fa-search prefix" style="z-index: 9;"></i>
    <div id="sidebar-search"></div>
  </div>

  <ul class="navigation">
    <li>
      <%= active_link_to meetings_url, active: [['meetings'], []], class: 'media' do %>
        <i class="fa fa-clipboard"></i>
        <span class="media-text">Meetings</span>
      <% end %>
    </li>
    <li>
      <%= active_link_to uploads_url, class: 'media' do %>
        <i class="fa fa-file-upload"></i>
        <span class="media-text">Uploads</span>
      <% end %>
    </li>
    <li>
      <%= active_link_to contacts_path, class: 'media' do %>
        <i class="fa fa-address-book"></i>
        <span class="media-text">Contacts</span>
      <% end %>
    </li>
    <li>
      <%= active_link_to profile_path, class: 'media' do %>
        <i class="fa fa-user-cog"></i>
        <span class="media-text">My Profile</span>
      <% end %>
    </li>
    <li>
      <%= active_link_to google_accounts_path, class: 'media' do %>
        <i class="fa fa-code-branch"></i>
        <span class="media-text">Integrations</span>
      <% end %>
    </li>
    <li>
      <%= active_link_to exports_path, class: 'media' do %>
        <i class="fa fa-download fa-3x"></i>
        <span class="media-text">Exports</span>
      <% end %>
    </li>
  </ul>

  <ul class="navigation bottom">
    <li>
      <a class="collapse-button hidden md:block">
        <i class="fa fa-chevron-left collapse"></i>
        <i class="fa fa-chevron-right expand"></i>
      </a>
    </li>
    <li>
      <%= link_to destroy_user_session_path, method: :delete, class: 'media' do %>
        <i class="fa fa-sign-out-alt"></i>
        <span class="media-text">Sign Out</span>
      <% end %>
    </li>
  </ul>
</div>

<%= javascript_pack_tag 'autocomplete' %>
<script>
  AdjournAutocomplete('#sidebar-search', {
    className: 'autocomplete',
    placeholder: 'Search',
    type: 'search',
    method: 'GET',
    listClasses: 'list absolute',
    url: function(autocomplete) {
      return '<%= search_path %>?q=' + encodeURIComponent(autocomplete);
    },
    renderItem: function(item) {
      return (
        "<div class='list-item-content text-black pointer-events-none'>"
          + "<h5 class='my-0'>" + item.meeting.title + "</h5>"
          + "<small class='list-secondary-text'>" + dayjs(item.meeting.date).format('MMMM DD, YYYY h:mm A') + "</small>"
          + "<p class='mt-2'>" + item.content + "</p>"
        + "</div>"
        + "<span class='list-floating-text'>"
          + "<span class='px-2 py-1 bg-blue text-white text-xs rounded-full opacity-50'>" + item.result_type + "</span>"
        + "</span>"
      );
    },
    onItemSelected: function(item) {
      window.location.href = item.meeting.resource_url;
    }
  });
</script>
