<div class="sidebar-overlay">&nbsp;</div>

<div class="sidebar">
  <%= link_to root_url, class: "header" do %>
    <div class="icon">
      <%= image_tag 'icon.png' %>
    </div>
    <div class="text">Adjourn</div>
  <% end %>

  <%= link_to profile_path, class: 'user-info' do %>
    <img src="<%= gravatar_url(current_user.email) %>"
      class="avatar profile-picture" />
    <div class="email"><%= current_user.email %></div>
  <% end %>

  <div class="search">
    <i class="fa fa-search prefix" style="z-index: 9;"></i>
    <div id="sidebar-search"></div>
  </div>

  <ul class="links">
    <li>
      <%= active_link_to meetings_url, active: [['meetings'], []] do %>
        <i class="fa fa-clipboard"></i>
        <span class="text">Meetings</span>
      <% end %>
    </li>
    <li>
      <%= active_link_to uploads_url do %>
        <i class="fa fa-file-upload"></i>
        <span class="text">Uploads</span>
      <% end %>
    </li>
    <li>
      <%= active_link_to profile_path do %>
        <i class="fa fa-user-cog"></i>
        <span class="text">My Profile</span>
      <% end %>
    </li>
    <li>
      <%= active_link_to google_accounts_path do %>
        <i class="fa fa-sync"></i>
        <span class="text">Google Accounts</span>
      <% end %>
    </li>
  </ul>

  <ul class="links bottom">
    <li class="hidden md:block">
      <a class="collapse-button">
        <i class="fa fa-chevron-left collapse"></i>
        <i class="fa fa-chevron-right expand"></i>
      </a>
    </li>
    <li>
      <%= link_to destroy_user_session_path, method: :delete, class: "sign-out-link" do %>
        <i class="fa fa-sign-out-alt"></i>
        <span class="text">Sign Out</span>
      <% end %>
    </li>
  </ul>
</div>

<%= javascript_pack_tag 'autocomplete' %>
<script>
  AdjournAutocomplete('#sidebar-search', {
    className: 'autocomplete',
    placeholder: 'Search',
    type: 'search',
    method: 'GET',
    listClasses: 'list absolute',
    url: function(autocomplete) {
      return '<%= search_path %>?q=' + encodeURIComponent(autocomplete);
    },
    renderItem: function(item) {
      return (
        "<div class='list-item-content text-black pointer-events-none'>"
          + "<h5>"
            + item.meeting.title
            + "<small class='list-secondary-text'>" + moment(item.meeting.date).format('LLL') + "</small>"
          + "</h5>"
          + "<p class='mt-2'>" + item.content + "</p>"
          + "<span class='list-floating-text'>"
            + "<span class='px-2 py-1 bg-blue text-white text-xs rounded-full opacity-50'>" + item.result_type + "</span>"
          + "</span>"
        + "</div>"
      );
    },
    onItemSelected: function(item) {
      window.location.href = item.meeting.resource_url;
    }
  });
</script>
