<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/header' %>

    <div class="sidebar-layout">
      <%= render 'layouts/sidebar' %>
      <div class="content">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/toasts' %>

    <%= javascript_pack_tag 'meeting' %>
    <%= stylesheet_pack_tag 'meeting' %>
  </body>
</html>
