<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/header' %>

    <%= render 'layouts/sidebar' %>
    <div class="content mt-24 lg:mt-0 p-4">
      <%= yield %>
    </div>
    <%= render 'layouts/toasts' %>

    <%= javascript_pack_tag 'meeting' %>
    <%= stylesheet_pack_tag 'meeting' %>
  </body>
</html>
