<!DOCTYPE html>
<html>
  <head>
    <title>Adjourn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <nav class="nav-extended">
      <div class="nav-wrapper">
        <%= link_to "Adjourn", root_url, class: 'brand-logo center' %>
        <ul class="right">
          <% if user_signed_in? %>
            <li>
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to "Sign In", new_user_session_path %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="nav-content text-center">
        <% if notice || alert %>
          <div class="card-panel">
            <p class="black-text"><%= notice %></p>
            <p class="red-text darken-2"><%= alert %></p>
          </div>
        <% else %>
          &nbsp;
        <% end %>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
