<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <% content_for :extended_nav do %>
      <ul class="tabs tabs-transparent">
        <li class="tab">
          <%= active_link_to "Profile", profile_path, target: "_self" %>
        </li>
        <li class="tab">
          <%= active_link_to "Google Accounts", google_accounts_path,
            target: "_self" %>
        </li>
      </ul>
    <% end %>

    <%= render 'layouts/navigation' %>

    <%# Provide extra spacing from extended nav %>
    <div style="margin-top: 55px;">
      <%= yield %>
    </div>

    <%= render 'layouts/toasts' %>
  </body>
</html>
